/* colors */

* {
    borderColor: #377cf1;
    foregroundColor: #377cf1; 
    backgroundColor: #272a3466;
    backgroundColor-alt: #272a3400;
    backgroundColor-notransparency: #272a34;
    elementSelectedColor: #377cf1;
    scrollbarHandleColor: #377cf1;
    textColor:  #C5C8C6;
    el-text:  #377cf1;
    selected-text: #1a1b26;
}
